<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Spotless Hungry Crocodile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-theme-neutral-dark);
        background: var(--dl-color-theme-neutral-light);

        fill: var(--dl-color-theme-neutral-dark);
      }
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />
    <style>
      @keyframes fade-in-left {
        0% {
          opacity: 0;
          transform: translateX(-20px);
        }
        100% {
          opacity: 1;
          transform: translateX(0);
        }
      }
    </style>
  </head>
  <body>
    <link rel="stylesheet" href="../style.css" />
    <div>
      <link href="./pricing.css" rel="stylesheet" />
      <div class="pricing-pricing23 thq-section-padding">
        <div class="pricing-max-width thq-section-max-width">
          <div class="pricing-section-title">
            <span class="pricing-text10 thq-body-small">
              <span>Choose the perfect plan for you</span>
            </span>
            <div class="pricing-content">
              <h2 class="pricing-text11 thq-heading-2">
                <span>Pricing plan</span>
              </h2>
              <p class="thq-body-large">
                <span>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </span>
              </p>
            </div>
          </div>
          <div class="pricing-tabs">
            <button
              class="pricing-button10 thq-button-filled thq-button-animated"
            >
              <span class="thq-body-small">Monthly</span>
            </button>
            <button
              class="pricing-button11 thq-button-outline thq-button-animated"
            >
              <span class="thq-body-small">Monthly</span>
            </button>
            <button
              class="pricing-button12 thq-button-filled thq-button-animated"
            >
              <span class="thq-body-small">Yearly</span>
            </button>
            <button
              class="pricing-button13 thq-button-outline thq-button-animated"
            >
              <span class="thq-body-small">Yearly</span>
            </button>
          </div>
          <div class="pricing-container1">
            <div class="pricing-column1 thq-card">
              <div class="pricing-price10">
                <div class="pricing-price11">
                  <p class="pricing-text17 thq-body-large">
                    <span>Standard Plan</span>
                  </p>
                  <h3 class="pricing-text18 thq-heading-3">
                    <span>₹100</span>
                  </h3>
                  <p class="thq-body-large"><span>₹1000</span></p>
                </div>
                <div class="pricing-list1">
                  <div class="pricing-list-item10">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span class="thq-body-small">
                      <span>Access to a variety of Indian postal stamps</span>
                    </span>
                  </div>
                  <div class="pricing-list-item11">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span class="thq-body-small">
                      <span>Free shipping on all orders within India</span>
                    </span>
                  </div>
                  <div class="pricing-list-item12">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span class="thq-body-small">
                      <span>
                        Monthly newsletter with stamp collecting tips and
                        updates
                      </span>
                    </span>
                  </div>
                </div>
              </div>
              <button
                class="pricing-button14 thq-button-outline thq-button-animated"
              >
                <span class="thq-body-small"><span>Add to Cart</span></span>
              </button>
            </div>
            <div class="pricing-column2 thq-card">
              <div class="pricing-price12">
                <div class="pricing-price13">
                  <p class="pricing-text24 thq-body-large">
                    <span>Business plan</span>
                  </p>
                  <h3 class="pricing-text25 thq-heading-3">
                    <span>$29/mo</span>
                  </h3>
                  <p class="thq-body-large"><span>or $299 yearly</span></p>
                </div>
                <div class="pricing-list2">
                  <div class="pricing-list-item13">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span class="thq-body-small">
                      <span>Feature text goes here</span>
                    </span>
                  </div>
                  <div class="pricing-list-item14">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span class="thq-body-small">
                      <span>Feature text goes here</span>
                    </span>
                  </div>
                  <div class="pricing-list-item15">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span class="thq-body-small">
                      <span>Feature text goes here</span>
                    </span>
                  </div>
                  <div class="pricing-list-item16">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span class="thq-body-small">
                      <span>Feature text goes here</span>
                    </span>
                  </div>
                </div>
              </div>
              <button
                class="pricing-button15 thq-button-filled thq-button-animated"
              >
                <span class="thq-body-small"><span>Get started</span></span>
              </button>
            </div>
            <div class="pricing-column3 thq-card">
              <div class="pricing-price14">
                <div class="pricing-price15">
                  <p class="pricing-text32 thq-body-large">
                    <span>Enterprise plan</span>
                  </p>
                  <h3 class="pricing-text33 thq-heading-3">
                    <span>$49/mo</span>
                  </h3>
                  <p class="thq-body-large"><span>or $499 yearly</span></p>
                </div>
                <div class="pricing-list3">
                  <div class="pricing-list-item17">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span class="thq-body-small">
                      <span>Feature text goes here</span>
                    </span>
                  </div>
                  <div class="pricing-list-item18">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span class="thq-body-small">
                      <span>Feature text goes here</span>
                    </span>
                  </div>
                  <div class="pricing-list-item19">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span class="thq-body-small">
                      <span>Feature text goes here</span>
                    </span>
                  </div>
                  <div class="pricing-list-item20">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span class="thq-body-small">
                      <span>Feature text goes here</span>
                    </span>
                  </div>
                  <div class="pricing-list-item21">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span class="thq-body-small">
                      <span>Feature text goes here</span>
                    </span>
                  </div>
                </div>
              </div>
              <button
                class="pricing-button16 thq-button-filled thq-button-animated"
              >
                <span class="thq-body-small"><span>Get started</span></span>
              </button>
            </div>
          </div>
          <div class="pricing-container2">
            <div class="pricing-column4 thq-card">
              <div class="pricing-price16">
                <div class="pricing-price17">
                  <span class="pricing-text41 thq-body-large">
                    <span>Basic plan</span>
                  </span>
                  <h3 class="pricing-text42 thq-heading-3">
                    <span>$200/yr</span>
                  </h3>
                  <span class="thq-body-large">
                    <span>or $20 monthly</span>
                  </span>
                </div>
                <div class="pricing-list4">
                  <div class="pricing-list-item22">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span class="thq-body-small">
                      <span>Feature text goes here</span>
                    </span>
                  </div>
                  <div class="pricing-list-item23">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span class="thq-body-small">
                      <span>Feature text goes here</span>
                    </span>
                  </div>
                  <div class="pricing-list-item24">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span class="thq-body-small">
                      <span>Feature text goes here</span>
                    </span>
                  </div>
                </div>
              </div>
              <button
                class="pricing-button17 thq-button-outline thq-button-animated"
              >
                <span class="thq-body-small"><span>Get started</span></span>
              </button>
            </div>
            <div class="pricing-column5 thq-card">
              <div class="pricing-price18">
                <div class="pricing-price19">
                  <span class="pricing-text48 thq-body-large">
                    <span>Business plan</span>
                  </span>
                  <h3 class="pricing-text49 thq-heading-3">
                    <span>$299/yr</span>
                  </h3>
                  <span class="thq-body-large">
                    <span>or $29 monthly</span>
                  </span>
                </div>
                <div class="pricing-list5">
                  <div class="pricing-list-item25">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span class="thq-body-small">
                      <span>Feature text goes here</span>
                    </span>
                  </div>
                  <div class="pricing-list-item26">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span class="thq-body-small">
                      <span>Feature text goes here</span>
                    </span>
                  </div>
                  <div class="pricing-list-item27">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span class="thq-body-small">
                      <span>Feature text goes here</span>
                    </span>
                  </div>
                  <div class="pricing-list-item28">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span class="thq-body-small">
                      <span>Feature text goes here</span>
                    </span>
                  </div>
                </div>
              </div>
              <button
                class="pricing-button18 thq-button-filled thq-button-animated"
              >
                <span class="thq-body-small"><span>Get started</span></span>
              </button>
            </div>
            <div class="pricing-column6 thq-card">
              <div class="pricing-price20">
                <div class="pricing-price21">
                  <span class="pricing-text56 thq-body-large">
                    <span>Enterprise plan</span>
                  </span>
                  <h3 class="pricing-text57 thq-heading-3">
                    <span>$499/yr</span>
                  </h3>
                  <span class="thq-body-large">
                    <span>or $49 monthly</span>
                  </span>
                </div>
                <div class="pricing-list6">
                  <div class="pricing-list-item29">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span class="thq-body-small">
                      <span>Feature text goes here</span>
                    </span>
                  </div>
                  <div class="pricing-list-item30">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span class="thq-body-small">
                      <span>Feature text goes here</span>
                    </span>
                  </div>
                  <div class="pricing-list-item31">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span class="thq-body-small">
                      <span>Feature text goes here</span>
                    </span>
                  </div>
                  <div class="pricing-list-item32">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span class="thq-body-small">
                      <span>Feature text goes here</span>
                    </span>
                  </div>
                  <div class="pricing-list-item33">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span class="thq-body-small">
                      <span>Feature text goes here</span>
                    </span>
                  </div>
                </div>
              </div>
              <button
                class="pricing-button19 thq-button-filled thq-button-animated"
              >
                <span class="thq-body-small"><span>Get started</span></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script
      data-section-id="navbar"
      src="https://unpkg.com/@teleporthq/teleport-custom-scripts"
    ></script>
  </body>
</html>
